@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.eot");
  src: url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Italic.eot");
  src: url("../fonts/Roboto/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Italic.svg#Roboto-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/Glyphicons/glyphicons-halflings-regular.eot");
  src: url("../fonts/Glyphicons/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Glyphicons/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/Glyphicons/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/Glyphicons/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/Glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?pbp8u2");
  src: url("../fonts/icomoon/icomoon.eot?pbp8u2#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?pbp8u2") format("truetype"), url("../fonts/icomoon/icomoon.woff?pbp8u2") format("woff"), url("../fonts/icomoon/icomoon.svg?pbp8u2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }

.icon-grid:before {
  content: "\e923"; }

.icon-chart:before {
  content: "\e91f"; }

.icon-ruble:before {
  content: "\e920"; }

.icon-question:before {
  content: "\e921"; }

.icon-sports-car:before {
  content: "\e922"; }

.icon-phone-book:before {
  content: "\e91e"; }

.icon-call-answer:before {
  content: "\e900"; }

.icon-car2:before {
  content: "\e901"; }

.icon-caution-sign:before {
  content: "\e902"; }

.icon-checked2:before {
  content: "\e903"; }

.icon-check-mark:before {
  content: "\e904"; }

.icon-clock:before {
  content: "\e905"; }

.icon-clock-circular-outline:before {
  content: "\e906"; }

.icon-cross:before {
  content: "\e907"; }

.icon-edit:before {
  content: "\e908"; }

.icon-envelope:before {
  content: "\e909"; }

.icon-file:before {
  content: "\e90a"; }

.icon-funnel:before {
  content: "\e90b"; }

.icon-hourglass:before {
  content: "\e90c"; }

.icon-maps-and-flags1:before {
  content: "\e90d"; }

.icon-next:before {
  content: "\e90e"; }

.icon-next2:before {
  content: "\e90f"; }

.icon-off:before {
  content: "\e910"; }

.icon-on:before {
  content: "\e911"; }

.icon-paper-plane:before {
  content: "\e912"; }

.icon-pizza:before {
  content: "\e913"; }

.icon-pizza2:before {
  content: "\e914"; }

.icon-pizza3:before {
  content: "\e915"; }

.icon-placeholder:before {
  content: "\e916"; }

.icon-save-file-option:before {
  content: "\e917"; }

.icon-school-calendar:before {
  content: "\e918"; }

.icon-seach:before {
  content: "\e919"; }

.icon-telephone:before {
  content: "\e91a"; }

.icon-user2:before {
  content: "\e91b"; }

.icon-wallet:before {
  content: "\e91c"; }

.icon-warning:before {
  content: "\e91d"; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #000; }

h1 {
  font-size: 16px;
  font-weight: 300; }

h2 {
  font-size: 30px;
  color: #131631;
  font-weight: bold; }

h3 {
  font-size: 20px;
  font-weight: bold; }

h4 {
  font-size: 20px;
  font-weight: 300;
  color: #5a5a5a; }

h5 {
  font-size: 18px;
  color: #000; }

h6 {
  font-size: 16px;
  font-weight: bold; }

a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    opacity: 0.7;
    text-decoration: none;
    color: inherit;
    outline: none; }
  a:active {
    opacity: 0.6;
    outline: none;
    color: inherit;
    text-decoration: none; }
  a:focus {
    outline: none;
    color: inherit;
    text-decoration: none; }

button, input, textarea, select {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

img {
  max-width: 100%; }

p {
  font-size: 16px; }

.text-center {
  text-align: center; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

header {
  position: relative;
  height: 51px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  background: #e6b345; }

.logo {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block; }
  .logo:hover {
    opacity: 1; }

.justify-align {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.main-menu {
  margin: 20px 0 0;
  list-style: none;
  border-top: 1px solid #E5E5E5; }
  .main-menu li {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 48px;
    padding: 0 20px;
    color: #000;
    border-bottom: 1px solid #E6E6E6; }
    .main-menu li.active, .main-menu li:hover {
      background: #f1c76d;
      color: #fff; }
      .main-menu li.active a, .main-menu li:hover a {
        color: #fff; }
    .main-menu li.icon::before {
      position: absolute;
      left: 20px;
      top: 15px;
      color: inherit;
      font-size: 15px; }
    .main-menu li.icon.icon-grid::before {
      top: 16px;
      font-size: 13px; }
    .main-menu li a {
      position: relative;
      width: 100%;
      padding: 0 0 0 24px;
      display: block;
      font-size: 13px;
      color: #000;
      font-family: "Roboto"; }

.btn {
  display: inline-block;
  padding: 0 15px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: #ccc;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid transparent; }

.btn-grey__transparent {
  background-color: transparent;
  color: #ccc;
  border-color: #ccc; }

.btn-green {
  background: #9ccb6f; }
  .btn-green:hover {
    color: #fff; }

.btn-green__transparent {
  background-color: transparent;
  color: #9ccb6f;
  border-color: #9ccb6f; }

.btn-red {
  background: #d74155; }
  .btn-red:hover {
    color: #fff; }

.btn-red__transparent {
  background-color: transparent;
  color: #d74155;
  border-color: #d74155; }

.btn-yellow {
  background: #f1c76d; }
  .btn-yellow:hover {
    color: #fff; }

.btn-white__transparent {
  height: 28px;
  line-height: 28px;
  color: #fff;
  border-color: #fff;
  background-color: transparent; }
  .btn-white__transparent:hover, .btn-white__transparent:focus {
    color: #fff; }

.btn-close {
  position: relative;
  top: 2px;
  font-size: 14px; }
  .btn-close i::before {
    color: #ccc; }

*::-webkit-input-placeholder {
  color: #B7B7B7;
  font-size: 13px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-moz-placeholder {
  color: #B7B7B7;
  font-size: 13px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*::-moz-placeholder {
  color: #B7B7B7;
  font-size: 13px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-ms-input-placeholder {
  color: #B7B7B7;
  font-size: 13px;
  font-weight: 300;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:focus::-webkit-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus::-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-ms-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

textarea:focus::-webkit-input-placeholder {
  text-indent: 0; }

textarea:focus::-moz-placeholder {
  text-indent: 0; }

textarea:focus:-moz-placeholder {
  text-indent: 0; }

textarea:focus:-ms-input-placeholder {
  text-indent: 0; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sidebar {
  width: 220px;
  background: #fff; }

.content {
  padding: 15px;
  min-height: 100vh;
  width: -webkit-calc(100% - 220px);
  width: calc(100% - 220px); }

.courier {
  padding: 55px 20px 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.courier-ic {
  width: 43px;
  height: 43px;
  line-height: 43px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #cccccc;
  text-align: center; }
  .courier-ic .icon-user2 {
    vertical-align: middle;
    font-size: 24px;
    color: #fff; }

.courier-info {
  padding: 0 0 0 15px; }

.courier-info__name {
  font-size: 13px;
  font-weight: 500; }

.courier-info__status {
  position: relative;
  margin: 3px 0 0;
  padding: 0 0 0 10px;
  font-size: 13px;
  color: #B7B7B7; }
  .courier-info__status::before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 7px;
    height: 7px;
    line-height: 7px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #9ccb6f; }
  .courier-info__status.offline::before {
    background: #d74155; }

.search-form {
  position: relative;
  max-width: 192px;
  margin: 0 auto 0; }
  .search-form input {
    width: 100%;
    height: 33px;
    padding: 0 5px 0 15px;
    border: 1px solid #CCCCCC;
    background: #fff;
    outline: none;
    -webkit-border-radius: 20px;
            border-radius: 20px; }
  .search-form button {
    position: absolute;
    padding: 0;
    right: 15px;
    top: 8px;
    background-color: transparent;
    outline: none;
    border: none;
    z-index: 10; }
    .search-form button .icon-seach {
      font-size: 18px; }
      .search-form button .icon-seach::before {
        color: #ccc; }

.content-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .content-header h2 {
    padding: 0 10px 0 0; }
  .content-header > .icon-school-calendar {
    display: inline-block;
    width: 45px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background: #e6b345;
    -webkit-border-radius: 20px;
            border-radius: 20px; }
    .content-header > .icon-school-calendar::before {
      font-size: 19px;
      color: #fff; }

.reload {
  position: fixed;
  right: 0;
  top: 65px;
  width: 70px;
  height: 50px;
  -webkit-border-radius: 10px 0 0 10px;
          border-radius: 10px 0 0 10px;
  background: #d74155;
  text-align: center;
  line-height: 50px;
  z-index: 100; }
  .reload img {
    display: inline-block;
    vertical-align: middle; }

.date-wrapper {
  width: 250px;
  padding: 0 30px; }

.date-item {
  position: relative;
  width: 80px; }
  .date-item label {
    display: block;
    font-size: 11px;
    font-weight: bold; }
  .date-item .form-control {
    padding: 0 5px;
    font-size: 12px;
    height: 30px; }

.order-table {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  border-collapse: collapse; }
  .order-table tr:nth-child(odd) td {
    background: #f5f8fb; }
  .order-table tr:first-child td {
    background: #9ccb6f;
    color: #fff; }
    .order-table tr:first-child td:nth-child(3) {
      text-align: center; }
  .order-table tr td {
    padding: 18px 20px;
    text-align: center;
    border-left: 1px solid #EEF4FB;
    vertical-align: middle; }
    .order-table tr td:nth-child(2) {
      text-align: left; }
    .order-table tr td:nth-child(3) {
      text-align: left; }
    .order-table tr td span {
      display: block; }
    .order-table tr td.order-table__address {
      position: relative;
      padding-left: 64px; }
      .order-table tr td.order-table__address .icon-placeholder {
        position: absolute;
        left: 20px;
        top: 18px;
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
        .order-table tr td.order-table__address .icon-placeholder::before {
          position: absolute;
          left: 5px;
          top: 4px;
          font-size: 20px;
          color: #ccc; }

.address-item + .address-item {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 0;
  border-top: 1px solid #DCDFE1; }

.order-address {
  display: block; }

.search-form__number {
  width: 80px; }

.search-form__address {
  width: 250px; }

.order-filter {
  position: relative;
  min-width: 170px; }

.order-filter__btn {
  position: relative;
  padding: 0 30px 0 0;
  color: #fff; }
  .order-filter__btn::before {
    content: '\e90e';
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 10px;
    font-family: "icomoon";
    color: #fff;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .order-filter__btn.active::before {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }

.order-filter__list {
  display: none;
  position: absolute;
  padding: 20px;
  left: 0;
  right: 0;
  top: 100%;
  background: #fff;
  list-style: none;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2); }
  .order-filter__list li .btn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px; }
  .order-filter__list li:last-child .btn {
    margin-bottom: 0; }

.btn-label {
  cursor: default; }
  .btn-label:hover {
    color: inherit; }
  .btn-label:active {
    -webkit-box-shadow: none;
            box-shadow: none; }

.line-through {
  text-decoration: line-through; }

.order-time {
  display: block; }
  .order-time + .order-time {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    border-top: 1px solid #DCDFE1; }

.visible-md {
  display: none !important; }

.sidebar-btn {
  position: fixed;
  left: 0;
  top: 130px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #e6b345;
  text-align: center;
  z-index: 10; }
  .sidebar-btn:active, .sidebar-btn:hover, .sidebar-btn:focus {
    opacity: 1;
    color: #fff; }
  .sidebar-btn .icon-next {
    display: inline-block;
    vertical-align: middle; }
    .sidebar-btn .icon-next::before {
      font-size: 20px; }
  .sidebar-btn.active {
    position: absolute;
    top: 103px;
    left: 180px;
    z-index: 110; }
    .sidebar-btn.active .icon-next {
      -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
              transform: rotate(-180deg); }

@media only screen and (max-width: 1600px) {
  .order-table tr td {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px; }
  .search-form__number {
    width: 60px; }
  .search-form button {
    right: 10px; } }

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 180px; }
  .main-menu li a {
    font-size: 11px; }
  .content {
    width: -webkit-calc(100% - 180px);
    width: calc(100% - 180px); }
  h2 {
    font-size: 26px; }
  .order-table tr td {
    font-size: 10px;
    padding: 10px 5px; }
    .order-table tr td.order-table__address {
      padding-left: 5px; }
  .order-table tr td.order-table__address .icon-placeholder {
    display: none; }
  .order-filter__list {
    padding: 10px; }
  .order-filter {
    min-width: 138px; }
  .search-form__courier {
    min-width: 90px; } }

@media only screen and (max-width: 991px) {
  .main {
    position: relative; }
  .content {
    width: 100%;
    padding: 40px 10px 0; }
  .sidebar {
    position: absolute;
    width: 220px;
    -webkit-transform: translate(-220px, 0);
        -ms-transform: translate(-220px, 0);
            transform: translate(-220px, 0);
    left: 0;
    top: 103px;
    background: #fff;
    z-index: 100;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .sidebar.active {
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0); }
  .visible-md {
    display: block !important; }
  .btn {
    font-size: 10px; } }
